<div class="container">
  <div class="presentation row">
    <div class="info col-md-8">
      <div class="row">
        <div class="col-md-12">
          <h1>Hola! te doy la Bienvenida!</h1>
          <h2>Soy Harold Parra</h2>
          <app-typing-animation></app-typing-animation>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <p>
              Con una sólida trayectoria en la creación de soluciones tecnológicas innovadoras. Mi experiencia abarca más de 3 años trabajando con Java, incluyendo frameworks avanzados como Spring Boot y Quarkus, así como en el desarrollo de aplicaciones web con Angular.
            <br>
            </p>
        </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn-experience">Java</button>
          <button class="btn-experience">Angular</button>
          <button class="btn-experience">BD</button>
          <button class="btn-experience">AS400</button>
        </div>
      </div>
    </div>
    <div class="photo col-md-4">
      <img src="../../../assets/1625694283751.png" alt="">
    </div>
  </div>
</div>
