<div class="container" *ngIf="false">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Abaout me" matTooltipPosition="below">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Services" matTooltipPosition="below">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Galery" matTooltipPosition="below">
      <mat-icon>photo_library</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Contact me" matTooltipPosition="below">
      <mat-icon>forum</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="menu-left">
  <div class="tooltip-container">
    <span class="tooltip">Home</span>
    <span class="text">
      <div class="borde-back">
        <div class="icon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="tooltip-container">
    <span class="tooltip">Abaut me</span>
    <span class="text">
      <div class="borde-back">
        <div class="icon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="tooltip-container">
    <span class="tooltip">Services</span>
    <span class="text">
      <div class="borde-back">
        <div class="icon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
            <mat-icon>list</mat-icon>
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="tooltip-container">
    <span class="tooltip">Galery</span>
    <span class="text">
      <div class="borde-back">
        <div class="icon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
            <mat-icon>photo_library</mat-icon>
          </button>
        </div>
      </div>
    </span>
  </div>
  <div class="tooltip-container">
    <span class="tooltip">Contact me</span>
    <span class="text">
      <div class="borde-back">
        <div class="icon">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" ariaDescription="Home" matTooltip="Home" matTooltipPosition="below">
            <mat-icon>forum</mat-icon>
          </button>
        </div>
      </div>
    </span>
  </div>
</div>
